<nav>

    <button class="menu-toggle">&#9776;</button>
    <ul class="nav-menu">
      <li><a href="/home" class="button-nav">Home</a></li>
      <li><a href="/guide" class="button-nav">Guide</a></li>
      <li><a href="/vision" class="button-nav">Vision</a></li>
      <li><a href="/reward" class="button-nav">Reward</a></li>
    </ul>
  </nav>